
*{
	font-family: "montserrat",sans-serif;
}



@media (max-width: 1150px) {
  .show-login-btn, .show-logout-btn {
  width:40px !important;
  font-size: 9px !important;
  height: 10px !important;
  right:10% !important;
  }
}

@media (max-width: 1150px) {
  .show-signup-btn {
  width:40px !important;
  font-size: 9px !important;
  height: 10px !important;
  right:10% !important;
  }
}



@media (max-width: 1020px) {
  #header h1 {
  font-size: calc(7vw + 0.3rem) !important;
  top: 20px !important;
  }
}



body{
  margin: 0;
  padding: 0;
  background: #222;
}


.container3{
  width: 120px;
  height: 120px;
  margin: 200px auto;
  position: relative;
  padding: 40px;
}
.sun{
  width: 120px;
  height: 120px;
  background: url(sun.png) no-repeat;
  background-size: cover;
  border-radius: 50%;
}
.earth{
  width: 40px;
  height: 40px;
  background: url(earth.png) no-repeat;
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 20px 20px 10px 2px #000000cc;
  animation: ro 1s infinite;
}
@keyframes ro {
  50%{
    left: calc(100% - 40px);
    top: calc(100% - 40px);
  }
  100%{
    z-index: -1;
  }
}




#overlay{
height:100%;
width:100%;
background:#6a89cc;
position:fixed;
left:0;
top:0;
z-index: 99999999999999999999999;
transition: 0.4s all;
}


#header{
	float:left;
	background-color: #692323;
	width: 100%;
	height: 140px;
}

#header h1 {
  margin:0;
	position: absolute;
	top: 20px;
	font-size: 77px;
	text-transform: uppercase;
  font-weight: 900;
	color: #2c3e5036;
	background-image: url(water.png);
	background-size: 50vh 205%;
	-webkit-background-clip:text;
  animation: water 15s infinite;
  animation-timing-function: linear;
  -webkit-text-stroke-color: red;
  -webkit-text-stroke-width: 2.00px;

}


@keyframes water {
	from{
		background-position: left 0 top -20px;
	}



  to{
		background-position: left 50vh top -20px;
	}
}

#cross {
  font-size: 30px;
}

.fa-btc {
  margin-left: 10px;
  color: #a56a00;
}

#header h1 i {
  margin-left: 10px;
  color: #b9b3b3;
}
#content{
	float:left;
	width: 100%;
	height: 900px;
}
#footer{
	float:left;
	background-color: #692323;
	width:100%;
	height: 100px;
}
.login-box{
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 1040px;
  background-image: linear-gradient(45deg,#692323,#ffffff28);
  transition: 1s;
  z-index: 999999999999;
}
.login-form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  text-align: center;
	max-width: 20vh;
}
.login-form h1{
  font-weight: 400;
  margin-top: 0;
}
.signup-box{
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(45deg,#692323,#ffffff28);
  transition: 1s;
  z-index: 999999999999;
}
.signup-form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  text-align: center;
	max-width: 20vh;
}
.signup-form h1{
  font-weight: 400;
  margin-top: 0;
}


.txtb{
  display: block;
  box-sizing: border-box;
  width: 240px;
  background: #ffffff28;
  border: 1px solid white;
  padding: 10px 20px;
  color: white;
  outline: none;
  margin: 10px 0;
  border-radius: 6px;
  text-align: center;
}
.login-btn{
  width: 240px;
  background: #2c3e50;
  border: 0;
  color: white;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}
.hide-login-btn{
  color: #000;
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
  font-size: 24px;
  opacity: .7;
}
.show-login-btn{
  position: absolute;
  right:10%;
  width: 90px;
  height: 20px;
  top:20px;
  color: white;
  border: 2px solid;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
}
.signup-btn{
  width: 240px;
  background: #2c3e50;
  border: 0;
  color: white;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}
.hide-signup-btn{
  color: #000;
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
  font-size: 24px;
  opacity: .7;
}


.show-signup-btn{
  position: absolute;
  right:10%;
  width: 90px;
  height: 20px;
  top:80px;
  color: white;
  border: 2px solid;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
}

.show-logout-btn{
  position: absolute;
  left:90%;
  width: 90px;
  height: 20px;
  top:50px;
  color: white;
  border: 2px solid;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
}

.sign-up-btn {
	width: 240px;
  background: #2c3e50;
  border: 0;
  color: white;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
	margin-top: 1vh;
}
.showed{
  left: 0;
}

.eyes{
  position: absolute;
  top: 340px;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  min-width: 250px;
}
.eye{
  max-width: 200px;
  width: 15%;
  height: 185px;
  background: #fff;
  display: inline-block;
  margin: 40px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.ball{
  width: 20%;
  height: 40px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  border: 20px solid #6d2d00;
}

/* Sökknapp */
.sok{
	left: 50%;
	top: 5%;
	position: absolute;
 transform: translate(-50%, -50%);
 background: #2f3640;
 height: 40px;
 border-radius: 40px;
 padding: 10px;
}

.sok:hover > .sok-txt {
 width: 240px;
 padding: 0 6px;
}

.sok:hover > .sok-btn {
 background: white;
 color: black;
}

.sok-btn {
 color: #e84118;
 float: right;
 width: 40px;
 height: 40px;
 border-radius: 50%;
 background: #2f3640;
 display: flex;
 justify-content: center;
 align-items: center;
 transition: 0.4s;
 color: white;
 cursor: pointer;
}

.sok-btn > i {
 font-size: 30px;
}

.sok-txt {
 border: none;
 background: none;
 outline: none;
 float: left;
 padding: 0;
 color: white;
 font-size: 16px;
 transition: 0.4s;
 line-height: 40px;
 width: 0px;
 font-weight: bold;
}

.nose{
  position: absolute;
  top: 480px;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
.noses{
  width: 3%;
  height: 25px;
  background: rgb(0, 0, 0);
  display: inline-block;
  margin: 30px;
  border-radius: 100%;
  position: relative;
  overflow: hidden;
}

.nose1{
  transform: rotate(-35deg);
}
.nose2{
  transform: rotate(35deg);
}


.shut{
  width: 40%;
  height: 300px;
  max-width: 500px;
  background: transparent;
  position: absolute;
  top: 740px;
  left: 50%;
  transform: translate(-50%, -75%);
  z-index: 99999;
  overflow: hidden;
}

.shut .lip1{
  display: block;
  width: 100%;
  height: 140px;
  background: rgb(253, 0, 0);
  border-radius: 0 0 60% 60%;
  transition: 0.4s all;
  transform: rotate(180deg);
}


.shut .teeth1{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block;
  width: 100%;
  height: 10px;
  background: repeating-linear-gradient(
  90deg,
  #fff,
  #fff 30px,
  #000 20px,
  #000 40px
  );

  transition: 0.4s all;
  border: solid #f00;
  border-width: 0px 5px 0px 5px;

}

.shut .pusher{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block;
  width: 100%;
  height: 0%;
  background: transparent;
  transition: 0.4s all;
  border: solid #f00;
  border-width: 0px 5px 0px 5px;
}


.shut .teeth2{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block;
  width: 100%;
  height: 10px;
  background: repeating-linear-gradient(
  90deg,
  #fff,
  #fff 30px,
  #000 20px,
  #000 40px
  );

  transition: 0.4s all;
  border: solid #f00;
  border-width: 0px 5px 0px 5px;

}

.shut img{
  display: block;
  width: 100%;
  height: 0%;
  background: rgb(34, 34, 34);
  border:0;
  outline: 0;
  transition: 0.4s all;
  display: none;
}

.shut .lip2{
  display: block;
  width: 100%;
  height: 140px;
  background: rgb(253, 0, 0);
  border-radius: 60% 60% 0 0;
  transition: 0.4s all;
  transform: rotate(180deg);
}

.shut:hover > .lip1{
  height: 20%;
}

.shut:hover > .lip2{
  height: 20%;
}

.shut:hover > .pusher{
  height: 50%;
  background:#222222;
}

/*Hat */
.container{
  position: absolute;
  top: 142px;
  left: 65%;
  width:30%;
  transform: translate(-50%,-50%) rotateX(70deg);
}
.ripple{
  position: fixed;
  top: 0;
  transform: translateX(-50%);
  width: 45%;
  height: 15vh;
  border-radius: 50%;
  animation: ripple 2s linear infinite;
}
.r2{
  animation-delay: 0.8s;
}
.r3{
  animation-delay: 1.6s;
}
.r4{
  animation-delay: 2.4s;
}
.r5{
  animation-delay: 3.2s;
}
.r6{
  animation-delay: 4s;
}

@keyframes ripple {
  from{
    border: 4px solid #8e44ad;
    background: #9b59b670;
    width:5%;
    height:10px;
  }
  to{
    border: 0px solid #8e44ad;
    background: #9b59b670;
    width: 140%;
    height: 335px;
    top: 20px;
    opacity: 0;
  }
}

#namn{
  transform: rotate(180deg);
  text-align: center;
  position: absolute;
  left: 0;
  right:0;
  top: -30%;
  font-size: calc(1em + 1vw);
}

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  position: absolute;
  display: inline-block;
  max-width: max-content;
  left:0;
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 10.5s steps(150, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}


#timetosale{
  width:100%;
  margin: 3vh 0 0 0;
  top: 850px;
  left: 40;
	position: absolute;
	text-align: center;
	font-size: 200%;
	padding: 0;
}
