*{
	font-family: "montserrat",sans-serif;
}
body{
  margin: 0;
  padding: 0;
  background: #222;
}

#header{
	float:left;
	background-color: #692323;
	width: 100%;
	height: 15vh;
}
#header h1 {
	font-size: 60px;
	text-transform: uppercase;
  font-weight: 900;
	color: #2c3e5036;
	background-image: url(water.png);
	-webkit-background-clip:text;
  animation: water 15s infinite;  
  

  -webkit-text-stroke-color: red;
  -webkit-text-stroke-width: 2.00px; 
}

@keyframes water {
	from{
		background-position: left 0 top -20px;
	}
	to{
		background-position: left 1000px top -20px;
	}
}



#cross {
  font-size: 30px;
}

.fa-btc {
  margin-left: 10px;
  color: #a56a00;
}

#header h1 i {
  margin-left: 10px;
  color: #b9b3b3;
}
#content{
	float:left;
	width: 100%;
	height: 75vh;
}
#footer{
	float:left;
	background-color: #692323;
	width:100%;
	height: 10vh;
}
.login-box{
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(45deg,#692323,#ffffff28);
  transition: 1s;
}
.login-form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  text-align: center;
	max-width: 20vh;
}
.login-form h1{
  font-weight: 400;
  margin-top: 0;
}
.txtb{
  display: block;
  box-sizing: border-box;
  width: 240px;
  background: #ffffff28;
  border: 1px solid white;
  padding: 10px 20px;
  color: white;
  outline: none;
  margin: 10px 0;
  border-radius: 6px;
  text-align: center;
}
.login-btn{
  width: 240px;
  background: #2c3e50;
  border: 0;
  color: white;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}
.hide-login-btn{
  color: #000;
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
  font-size: 24px;
  opacity: .7;
}
.show-login-btn{
  position: absolute;
  left:89%;
  top:5vh;
  color: white;
  border: 2px solid;
  padding: 10px;
  cursor: pointer;
}
.sign-up-btn {
	width: 240px;
  background: #2c3e50;
  border: 0;
  color: white;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
	margin-top: 1vh;
}
.showed{
  left: 0;
}

.eyes{
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
.eye{
  width: 240px;
  height: 120px;
  background: #fff;
  display: inline-block;
  margin: 40px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.ball{
  width: 40px;
  height: 40px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  border: 15px solid #6d2d00;
}


/* Sökknapp */
.sok{
	left: 50%;
	top: 5%;
	position: absolute;
 transform: translate(-50%, -50%);
 background: #2f3640;
 height: 40px;
 border-radius: 40px;
 padding: 10px;
}

.sok:hover > .sok-txt {
 width: 240px;
 padding: 0 6px;
}

.sok:hover > .sok-btn {
 background: white;
 color: black;
}

.sok-btn {
 color: #e84118;
 float: right;
 width: 40px;
 height: 40px;
 border-radius: 50%;
 background: #2f3640;
 display: flex;
 justify-content: center;
 align-items: center;
 transition: 0.4s;
 color: white;
 cursor: pointer;
}

.sok-btn > i {
 font-size: 30px;
}

.sok-txt {
 border: none;
 background: none;
 outline: none;
 float: left;
 padding: 0;
 color: white;
 font-size: 16px;
 transition: 0.4s;
 line-height: 40px;
 width: 0px;
 font-weight: bold;
}

.mouth{
  width:400px;
  height:400px;
  background:red;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  border-radius: 75% 0;

}

.shut{
  width: 600px;
  height: 320px;
  background: #222222;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -75%) rotate(-45deg);
  z-index: 99999;
}

.shut .lip1{
  display: block;
  width: 100%;
  height: 50%;
  background: rgb(253, 0, 0);
  border-radius: 0 0 60% 60%;
  transition: 0.4s all;
  transform: rotate(180deg);

}


.shut .pusher{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block;
  width: 100%;
  height: 2vh;
  background: #222222;
  transition: 0.4s all;
  border: solid #f00;
  border-width: 0px 5px 0px 5px;
}

.shut img{
  display: block;
  width: 100%;
  height: 0%;
  background: rgb(34, 34, 34);
  transition: 0.4s all;
}



.shut .lip2{
  display: block;
  width: 100%;
  height: 50%;
  background: rgb(253, 0, 0);
  border-radius: 60% 60% 0 0;
  transition: 0.4s all;
  transform: rotate(180deg);
}


.mouth:hover > .shut .lip1{
  height: 20%;
}

.mouth:hover > .shut .lip2{
  height: 20%;
}


.mouth:hover > .shut .pusher{
  height: 60%;
}

.mouth:hover > .shut img{
  height: 100%;
}

/*Hat */
.container{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%,-50%) rotateX(70deg);
}
.ripple{
  position: fixed;
  top: 0;
  transform: translateX(-50%);

  width: 60px;
  height: 20px;
  border-radius: 50%;
  animation: ripple 2s linear infinite;
}
.r2{
  animation-delay: 0.8s;
}
.r3{
  animation-delay: 1.6s;
}
.r4{
  animation-delay: 2.4s;
}
.r5{
  animation-delay: 3.2s;
}
.r6{
  animation-delay: 4s;
}

@keyframes ripple {
  from{
    border: 4px solid #8e44ad;
    background: #9b59b670;
  }
  to{
    border: 0px solid #8e44ad;
    background: #9b59b670;
    width: 400px;
    height: 400px;
    top: 20px;
    opacity: 0;
  }
}
